@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
:root {
  --clr-lightblack: #3e3e53;
  --clr-black: #252326;
  --clr-orange: #f54828;
  --clr-gray: #c1c9c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main .nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100vh;
  background-color: var(--clr-lightblack);
}
.main .nav h2 {
  position: absolute;
  top: 0;
  margin-top: 1rem;
}
.main .nav__list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  list-style: none;
}
.main .nav__list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.5s;
}
.main .nav__list li {
  transition: all 0.5s;
}
.main .nav__list li:hover {
  transform: translateX(10px);
  position: relative;
}
.main .nav__list li:hover a {
  color: var(--clr-orange);
}
.main .section-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--clr-black);
  width: 85%;
  margin-left: 15%;
}
.main .section-container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  padding: 0 5rem;
}
.main .section-container section h2 {
  color: var(--clr-orange);
  font-size: 35px;
  text-align: center;
}
.main .home {
  height: 100vh;
  font-size: 30px;
  transition: 1.5s ease;
  gap: 1rem;
  text-align: center;
}
.main .home h4 {
  color: var(--clr-orange);
}
.main .about {
  gap: 3rem;
}
.main .about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  flex-wrap: wrap;
}
.main .about__container img {
  border-radius: 10px;
  width: 300px;
  height: 305px;
}
.main .about__container p {
  line-break: loose;
  text-align: center;
  margin: 0 6rem;
}
.main .skills {
  gap: 3rem;
}
.main .skills .skills__frontEnd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.main .skills .skills__frontEnd .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  box-shadow: -5px 5px 0 var(--clr-gray);
  padding: 0 0.8rem;
  gap: 0.3rem;
}
.main .skills .skills__frontEnd .skill .bx {
  color: var(--clr-orange);
  font-size: 40px;
  transition: all 0.5s;
}
.main .skills .skills__frontEnd .skill span {
  color: var(--clr-black);
  font-weight: lighter;
  font-size: 35px;
  transition: all 0.5s;
}
.main .projects {
  gap: 3rem;
}
.main .projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.main .projects__container .project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
}
.main .projects__container .project:hover img {
  filter: opacity(0.6);
}
.main .projects__container .project:hover a {
  visibility: visible;
}
.main .projects__container .project img {
  width: 100%;
  border-radius: 25px;
  transition: all 0.1s;
}
.main .projects__container .project a {
  visibility: hidden;
  position: absolute;
  border-radius: 25px;
  text-decoration: none;
  font-size: 30px;
  padding: 0 2rem;
  text-align: center;
}
.main .certs {
  gap: 3rem;
}
.main .certs__container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
.main .certs__container .cert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
}
.main .certs__container .cert:hover img {
  filter: opacity(0.6);
}
.main .certs__container .cert:hover a {
  visibility: visible;
}
.main .certs__container .cert img {
  width: 100%;
  height: auto;
  transition: 0.2s;
}
.main .certs__container .cert a {
  position: absolute;
  font-size: 200%;
  text-decoration: none;
  text-align: center;
  visibility: hidden;
}
.main .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 3rem;
}
.main .contact h2 {
  color: var(--clr-orange);
  font-size: 35px;
}
.main .contact ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
  flex-wrap: wrap;
}
.main .contact ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main .contact ul li .bx {
  font-size: 35px;
  color: var(--clr-orange);
}
.main .contact ul li span {
  font-size: 20px;
}

@media (max-width: 900px) {
  .main .nav {
    display: none;
    transition: all 0.5s;
    background-color: black;
    opacity: 0.9;
    padding: 0 4rem;
  }
  .main .section-container {
    width: 92%;
    margin-left: 8%;
  }
  .main .section-container .about .about__container p {
    margin: 0;
  }
  .main .section-container .projects .projects__container {
    width: 300px;
  }
  .main .section-container .projects .projects__container .project img {
    width: 300px;
  }
  .main .section-container .certs .certs__container {
    width: 300px;
  }
  .main .section-container .certs .certs__container .cert img {
    width: 300px;
  }
  .main .menu {
    position: fixed;
    width: 8%;
    height: 100vh;
    background-color: var(--clr-lightblack);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .menu .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 5rem;
  }
  .main .menu .menu-icon::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--clr-orange);
    transform: translateY(-8px);
    transition: 0.5s;
  }
  .main .menu .menu-icon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--clr-orange);
    transform: translateY(8px);
    box-shadow: 0px -8px 0 var(--clr-orange);
    transition: 0.5s;
  }
  .main .contact ul li span {
    font-size: 15px;
  }
  .main.active .nav {
    display: flex;
    margin-left: 8%;
    width: 92%;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main.active .menu-icon::before {
    transform: rotate(45deg);
    transition: 0.5s;
  }
  .main.active .menu-icon::after {
    transform: rotate(-45deg);
    transition: 0.5s;
    box-shadow: 0 0 0 0;
  }
}
@media (max-width: 490px) {
  .main .menu .menu-icon::before {
    width: 60%;
  }
  .main .menu .menu-icon::after {
    width: 60%;
  }
}/*# sourceMappingURL=styles.css.map */